---

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Hello Astro</title>

        <!-- metronic scc -->
        <link rel="stylesheet" href="/assets/plugins/global/plugins.bundle.css">
        <link rel="stylesheet" href="/assets/css/style.bundle.css">
	</head>
	<body>
		<slot />
        <!-- metronic scc -->
        <script src="/assets/plugins/global/plugins.bundle.js" is:inline></script>
        <script src="/assets/js/scripts.bundle.js" is:inline></script>
	</body>
</html>
<style is:global>
	
</style>
